.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
footer{
    background-color: #8D9F93;
    color: white;
    text-align: center;
}
form>*{
    padding-top:10px;
    padding-bottom:10px;
}

.pull-right {
    float: right !important;

}
.pull-right>button{
    margin-left: 80px !important;
}

.product{
    text-align: center;

}
.product>*{
    padding-top:5px;
    padding-bottom:5px;
    font-family: 'Oswald',sans-serif;
    letter-spacing: 0;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
