.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
footer{
    background-color: #8D9F93;
    color: white;
    text-align: center;
}
form>*{
    padding-top:10px;
    padding-bottom:10px;
}

.pull-right {
    float: right !important;

}
.pull-right>button{
    margin-left: 80px !important;
}

