*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
}

.wrapper{
    padding: 0 100px;
    margin: 0 auto;
}

.desktop-nav{
    display:flex;
    justify-content: space-between;
    text-align: center;
}
.desktop-nav .menu-items{
    list-style: none;
    display: flex;
}
.desktop-nav .menu-items li{
    margin: 62px 26px 0;
}
.desktop-nav .menu-items li a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    position: relative;
}
.desktop-nav .menu-items li a.active::after{
    content:'';
    position: absolute;
    height: 2px;
    width: 0;
    background: #BCA48F;
    left: 0;
    bottom: -14px;
}
.desktop-nav .menu-items li a.active:hover::after{
    width: 100%;
    transition: width .3s;
}
.desktop-nav .menu-items .product-items{
    list-style: none;
    margin-top: -70px;
    background: #BCA48F;
}
.desktop-nav .menu-items .product-items{
   display: none;
}
.desktop-nav .menu-items li:hover >.product-items{
    display: block;
}

.desktop-nav .menu-icon{
    list-style: none;
    display: flex;
}
.desktop-nav .menu-icon li{
    margin: 54px 26px 0;
}
.desktop-nav .menu-icon li a{
    position: relative;
}
.desktop-nav .menu-icon li a.active::after{
    content:'';
    position: absolute;
    height: 2px;
    width: 0;
    background: #BCA48F;
    left: 0;
    bottom: -14px;
}
.desktop-nav .menu-icon li a.active:hover::after{
    width: 100%;
    transition: width .3s;
}
.desktop-nav .menu-icon .rotation{
    
    -webkit-transition: -webkit-transform 1s;
}
.desktop-nav .menu-icon .rotation:hover{
    -webkit-transform: rotate(90deg) translateZ(0);
}
.desktop-nav .menu-icon .icon-items{
    list-style: none;
    margin-top: -50px;
    background: #BCA48F;
    display: none;
}
.desktop-nav .menu-icon li:hover >.icon-items{
    display: block;
}
.desktop-nav .menu-icon li a{
    text-decoration: none;
    color: black;
}

.promotion{
    text-align: center;
    margin-top: 50px;
}
.latest{
    color: #bca48f;
    font-family: 'Oswald',sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin-top: 100px;
}
.latest p{
    position: relative;
   
}
.latest p.active::after{
    content: '';
    position: absolute;
    height:2px;
    width: 0;
    background: #bca48f;
}

.description{
    text-align: center;
    margin-top: 50px;
}
.description .tittle{
    font-size: 36px;
}

.latest-image{
    text-align: center;
    margin-top: 50px;
}
.popular-container{
    text-align: center;
}