*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.type{
    display: flex;
    font-family: 'Oswald',sans-serif;
    margin-left: 100px;
}
.type a{
    text-decoration: none;
}
.type .women{
    font-size: 24px;
    color: #70353A;
    padding-right:60px ;
    padding-left: 30px;
    padding-top: 25px;
   
}
.type .women .color{
    color: #70353A;
}
.type .men{
    color: #567D95;
    font-size: 48px;
    
    padding-right: 60px;
    
}
.type .men .color{
    color: #567D95;
}
.type .kids{
    color: #CF673D;
    font-size: 24px;
    padding-top: 25px;
}
.type .kids .color{
    color: #CF673D;
}
.sorting{
    display: flex;
    color: #BCA48F;
    font-family: 'Oswald',sans-serif;
    margin-left: 120px;
    margin-bottom: 50px;
    margin-top: 38px;
    font-size: 24px;
}
.sorting img{
    padding-left:10px ;
    padding-top: 5px;
}

.sortby{
    display: flex; 
    padding-right: 61px;
}
.size{
    display:flex;
    padding-right: 61px;
}
.color{
    display: flex;
    
}
.product-conatiner{
 display: flex;   
 margin-left: 30px;
 flex-wrap: wrap;
 max-width: 1080px;
 align-items: center;
 justify-content: center;
 text-align: center;
}
.productionlist{
    font-family: 'Oswald',sans-serif;
    font-weight: bold;
    text-align: center;
    padding-right: 15px;
    
}
.productFS1-color{
    height: 15px;
    width: 15px;
    background-color: #FDDB27;
    border-radius: 50%;
    display: inline-block;
}
.productFS2-color{
    height: 15px;
    width: 15px;
    background-color: black;
    border:black;
    border-radius: 50%;
    display: inline-block;
}
.productPD-color{
    height: 15px;
    width: 15px;
    background-color:#ADEFD1;
    border-radius: 50%;
    display: inline-block;
}
.productPS-color{
    height: 15px;
    width: 15px;
    background-color: #FDDB27;
    border-radius: 50%;
    display: inline-block;
}
.productdetail a{
    text-decoration: none;
    color: black;
}


.productdetail img:hover{
    opacity: 0.5;
}
